@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{font-family: "Poppins";}

li a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: flex;
    padding: 0 20px;
    background-color:rgba(128, 0, 128, 0.486);
    border-radius: 15px;
    margin-right: 4px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: right;
}

header{
    background-color: rgba(37, 26, 102, 0.589);
    padding: 25px;  
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 35px;
    color: white;
    font-weight: 700;
}

.menu:hover > .card:not(:hover) {
    filter: blur(3px);
    transition: 0.3s ease-in;
}

.menu:hover > .card:hover, .menu:not(:hover) > .card:not(:hover) {
    transition: 0.3s;
}

body{
    background-image: url(../imagens/fundin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin-left: 16%;
}

.content {
    background-color: rgba(37, 26, 102, 0.589);
    border-radius: 20px;
    width: 80%;
    display: flex;
    margin: 20px 0;
}

.team {
    border-radius: 20px;
    width: 50%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-bx {
    width: 50%;
}

.img-bx img {
    max-width: 100%;
    border-radius: 100%;
    margin: 10px;
}

.text-bx {
    width: 50%;

}

.text-bx h4 {
    color: white;
}

.text-bx p {
    color: white;
}

.content:hover > .team:not(:hover) {
    filter: blur(3px);
    transition: 0.3s ease-in;
}

.content:hover > .team:hover, 
.content:not(:hover) > .team:not(:hover) {
    transition: 0.3s;
}

.content:hover > .team:hover {
    width: 60%;
}



@media (max-width:1131px){

    .content{
        display: flex;
        flex-direction: column;
    }

    .team {
        width: 100%;
        margin: 0;
    }

    .content:hover > .team:not(:hover) {
        filter: blur(0);
        transition: none;
    }

    .content:hover > .team:hover, 
    .content:not(:hover) > .team:not(:hover) {
        transition: none;
    }

    .content:hover > .team:hover {
        width: 100%;
    }

}
