@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: default;
    scroll-behavior: smooth;
    scrollbar-width: 40px;
    scrollbar-color: green;
}

/* Para navegadores modernos */
::-webkit-scrollbar {
  width: 20px; /* Largura da barra de rolagem */

}

::-webkit-scrollbar-track {
  background: #00b909; /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Cor do "polegar" (parte que se move) */
  border-radius: o; /* Bordas arredondadas */
  border: 30px solid #ffffff; /* Espaço entre o polegar e o fundo */
}

header{
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(0, 20, 0), rgb(0, 40, 0));
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    width: 100%;
    position: fixed;
    
}

.logo{
    height: 40px;
    position: relative;
}

.logoH{
    height: 40px;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.logoH:hover{
    opacity: 1;
}

.navbar{
    display: flex;
    margin-right: 20px;
    
}

.navbar a{
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    color: white;
    transition: 0.5s;
    font-size: 15px;
    cursor: pointer;
}

a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 175, 0);
    transform: scale(1.1);
}

.sect1{
    background-image: url(img/home1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.desc{
    margin: 0 150px;
    color: white;
}

.desc h5{
    font-size: 20px;
}

.desc h5 b{
    color: rgb(0, 187, 0);
}

.desc h1{
    font-size: 50px;
    width: 60%;
}

.desc input{
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 187, 0);
    background: linear-gradient(130deg, rgb(0,187,0) 90%, transparent 90%);
    transition: 0.5s;
    cursor: pointer;
}

.desc input:hover{
    color: rgb(0, 187, 0);
    background: linear-gradient(130deg, rgb(255, 255, 255) 90%, transparent 90%);
    transform: scale(1.1);
}

.sect2{
    display: flex;
    background-color: black;
    width: 100%;
}

.desc2{
    width: 30%;
    margin: 40px 40px 100px 100px;
}

.desc2 img{
    margin-top: 40px;
    margin-left: 50px;
    border: 20px solid rgb(0, 187, 0);
    width: 80%;
    height: 80%;
}

.cont{
    padding: 60px 100px;
    margin-top: 40px;
    color: white;
    width: 100%;
}

.cont h6{
    color: rgb(0, 187, 0);
    font-size: 15px;
}

.cont h1{
    font-size: 40px;
    width: 120%;
}

.box{
    display: flex;
    width: 120%;
}

.card{
    margin: 15px 0;
    width: 100%;
    padding: 10px 20px 0 0;
}

.card .fas{
    color: rgb(0, 187, 0);
}

.card p{
    color: grey;
    font-size: 12px;
}